<mat-list>
    <div mat-subheader>My Tasks</div>
    <mat-list-item *ngFor="let t of tasks">
      <mat-icon mat-list-icon>assessment</mat-icon>
      <div mat-line>{{t.name}}</div>
      <div mat-line>
        <span>
          <p *ngIf="t.priority == 'L'">Low</p>
          <p *ngIf="t.priority == 'M'">Medium</p>
          <p *ngIf="t.priority == 'H'">High</p>
          </span>
        <span>&nbsp;&nbsp;&nbsp;</span>  
        <span>{{t.dueDate | date:'dd MMM'}}</span>
      </div>
    </mat-list-item>
</mat-list>